:root{
--mainColor:#ff206e;
}
body{
    overflow: hidden;
}
.mainColor{
color: var(--mainColor);
}
.socialmedia i{
    border: 1px solid #333;
    padding: 8px;
    border-radius: 50%;
    transition: 0.5s;
    cursor: pointer;
}
.socialmedia i:hover{
    border: 1px solid #fff;
}

/* color-box */


/* end color-box */
.color-box{
    position: fixed;
    top:100px;
    left:0;
    display: flex;
}
.color-box .color-options{
    background-color: aqua;
    padding: 10px;
    border:2px solid red;
}
.color-box i {
    background-color: #fefefe;
    padding: 10px;
    height: fit-content;
    border:2px solid red;
    cursor: pointer;

}
.color-box .color-options li{
    width:25px;
    height: 25px;
    display: inline-block;
    cursor: pointer;
}
/* ####start header##### */
header{
    background-image: url(../img/bg.jpg);
    background-size: cover;
    background-position: center;
}
/* ####end header##### */


/* ####start about##### */
.title h2{
font-size: 70px;
color:#1f1f1f1f;
letter-spacing: 5px;

}
.title h3{
    font-size:40px;
    position:absolute;
    top:50%;
    left: 50%;
    letter-spacing: 5px;

}

/* ####end about##### */

/* ###start services##### */
.services{
    background-image: url('../img/dark_dot.jpg');

}
.services .title h2{
    color:#222;
}
.services .title h3{
    color:#fff;
}
.service i{
    color:#fff;
    border: 3px solid #fff;
    padding: 8px;
    border-radius: 50%;
    background-color: #000;
    position:absolute;
    top:0;
    left:50%;
    transition: 1s;

}
.service i:hover{
    color: var(--mainColor);
}
/* ###end services##### */


/* ###start portfolio####  */

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
    color: var(--mainColor);
}
.nav-tabs .nav-link{
    color: #000;
}

/* ###end portfolio####  */
#btnUP{
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
}

/* spinner */
#loadingSpinner{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fefefe;
    z-index: 999999999;
    display: flex;
}
.sk-folding-cube {
    margin: 20px auto;
    width: 40px;
    height: 40px;
    position: relative;
    -webkit-transform: rotateZ(45deg);
            transform: rotateZ(45deg);
  }
  
  .sk-folding-cube .sk-cube {
    float: left;
    width: 50%;
    height: 50%;
    position: relative;
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1); 
  }
  .sk-folding-cube .sk-cube:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #333;
    -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
            animation: sk-foldCubeAngle 2.4s infinite linear both;
    -webkit-transform-origin: 100% 100%;
        -ms-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
  }
  .sk-folding-cube .sk-cube2 {
    -webkit-transform: scale(1.1) rotateZ(90deg);
            transform: scale(1.1) rotateZ(90deg);
  }
  .sk-folding-cube .sk-cube3 {
    -webkit-transform: scale(1.1) rotateZ(180deg);
            transform: scale(1.1) rotateZ(180deg);
  }
  .sk-folding-cube .sk-cube4 {
    -webkit-transform: scale(1.1) rotateZ(270deg);
            transform: scale(1.1) rotateZ(270deg);
  }
  .sk-folding-cube .sk-cube2:before {
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s;
  }
  .sk-folding-cube .sk-cube3:before {
    -webkit-animation-delay: 0.6s;
            animation-delay: 0.6s; 
  }
  .sk-folding-cube .sk-cube4:before {
    -webkit-animation-delay: 0.9s;
            animation-delay: 0.9s;
  }
  @-webkit-keyframes sk-foldCubeAngle {
    0%, 10% {
      -webkit-transform: perspective(140px) rotateX(-180deg);
              transform: perspective(140px) rotateX(-180deg);
      opacity: 0; 
    } 25%, 75% {
      -webkit-transform: perspective(140px) rotateX(0deg);
              transform: perspective(140px) rotateX(0deg);
      opacity: 1; 
    } 90%, 100% {
      -webkit-transform: perspective(140px) rotateY(180deg);
              transform: perspective(140px) rotateY(180deg);
      opacity: 0; 
    } 
  }
  
  @keyframes sk-foldCubeAngle {
    0%, 10% {
      -webkit-transform: perspective(140px) rotateX(-180deg);
              transform: perspective(140px) rotateX(-180deg);
      opacity: 0; 
    } 25%, 75% {
      -webkit-transform: perspective(140px) rotateX(0deg);
              transform: perspective(140px) rotateX(0deg);
      opacity: 1; 
    } 90%, 100% {
      -webkit-transform: perspective(140px) rotateY(180deg);
              transform: perspective(140px) rotateY(180deg);
      opacity: 0; 
    }
  }

/* end Spinner */