:root{
--mainColor:#ff206e;
}
.mainColor{
color: var(--mainColor);
}
.socialmedia i{
    border: 1px solid #333;
    padding: 8px;
    border-radius: 50%;
    transition: 0.5s;
    cursor: pointer;
}
.socialmedia i:hover{
    border: 1px solid #fff;
}

/* color-box */


/* end color-box */
.color-box{
    position: fixed;
    top:100px;
    left:0;
    display: flex;
}
.color-box .color-options{
    background-color: aqua;
    padding: 10px;
    border:2px solid red;
}
.color-box i {
    background-color: #fefefe;
    padding: 10px;
    height: fit-content;
    border:2px solid red;

}
.color-box .color-options li{
    width:25px;
    height: 25px;
    display: inline-block;
}
/* ####start header##### */
header{
    background-image: url(../img/bg.jpg);
    background-size: cover;
    background-position: center;
}
/* ####end header##### */


/* ####start about##### */
.title h2{
font-size: 70px;
color:#1f1f1f1f;
letter-spacing: 5px;

}
.title h3{
    font-size:40px;
    position:absolute;
    top:50%;
    left: 50%;
    letter-spacing: 5px;

}

/* ####end about##### */

/* ###start services##### */
.services{
    background-image: url('../img/dark_dot.jpg');

}
.services .title h2{
    color:#222;
}
.services .title h3{
    color:#fff;
}
.service i{
    color:#fff;
    border: 3px solid #fff;
    padding: 8px;
    border-radius: 50%;
    background-color: #000;
    position:absolute;
    top:0;
    left:50%;
    transition: 1s;

}
.service i:hover{
    color: var(--mainColor);
}
/* ###end services##### */


/* ###start portfolio####  */

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
    color: var(--mainColor);
}
.nav-tabs .nav-link{
    color: #000;
}

/* ###end portfolio####  */
